@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

$title_font: 'Open Sans', sans-serif;
$aside_color: #DA0037;
$title_color: #444444;
$general_font: 'Playfair Display', serif;